.tint:before {
    background: rgba(0, 255, 0, 0.5);
    display: block;
    z-index: 20;
    position: relative;
}

.createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 20px 0px 0px;
    }

    &>span:not(.ant-input-show-count) {
        margin-top: 20px;
    }

    button.share-button {
        margin-top: 1rem;
    }

    .ant-upload-drag {
        width: 400px;
    }
}

.filters {
    display: flex;
    flex-direction: column;
    width: 100%;

    .filterButtons {
        display: flex;
        margin-bottom: 5px;

        button {
            margin-right: 5px;
        }
    }
}