.createPost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button.share-button {
        margin-top: 1rem;
    }

    .ant-upload-drag {
        width: 400px;
    }
}