div.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 20px 0px 0px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;

        span {
            margin: 5px 10px;
            cursor: pointer;
        }
    }
}