div.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        margin: 20px 0px 0px;
    }

    .photos {
        img {
            border: 1px solid #ddd;
        }
    }

    .noPhotos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
    }

    img {
        height: 100px;
        width: 100px;
    }
}