@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One:regular);

aside.navbar {
    height: 100vh;
    width: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid;
    padding: 20px;
    position: absolute;
    top: 0px;
    left: 0px;

    .logo {
        font-family: 'Leckerli One', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-shadow: 1px 1px 1px gray;
        font-size: 28px;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid gray;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        a {
            font-family: 'Noto Sans', sans-serif;
            padding: 10px 20px;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;
            width: fit-content;
            text-decoration: none;

            span {
                font-size: 1.5rem;
                font-weight: 500;
                font-size: large;
                text-shadow: 1px 1px 1px gray;

                span {
                    margin-right: 5px;
                }
            }

            &:hover {
                background-color: rgba(49, 49, 49, 0.205);
            }
        }
    }

    .themeSwitch {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}