aside.popular {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid;
    padding: 20px;
}