div.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        margin-bottom: 15px;
    }

    div.profileInfo {
        display: flex;
        flex-direction: row;
        min-height: 330px;

        div.profileData {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 250px;
        }

        div.profilePhotoData {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 250px;
            height: 100%;

            .UploadProfilePhoto {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }
        }
    }
}