@import url(https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bungee:regular);

.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;

    Form {
        width: 100%;
        border: 1px solid #1677ff;
        padding: 20px 20px 0px 20px;
        border-radius: 10px;
    }

    .signInLink {
        border-left: #1677ff 1px solid;
        border-right: #1677ff 1px solid;
        border-bottom: #1677ff 1px solid;
        border-radius: 0px 0px 10px 10px;
        width: fit-content;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
            margin-top: 10px;
            padding: 0px 30px;
        }
    }

    .login-form {
        max-width: 300px;
    }

    .login-form-forgot {
        float: right;
    }

    .ant-col-rtl .login-form-forgot {
        float: left;
    }

    .login-form-button {
        width: 100%;
    }
}