@import url(https://fonts.googleapis.com/css?family=Leckerli+One:regular);

.signUp,
.signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
    padding: 10px;

    h1 {
        font-family: 'Leckerli One', cursive;
        font-size: 50px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

    Form {
        width: 100%;
        border: 1px solid #1677ff;
        padding: 20px 20px 0px 20px;
        border-radius: 10px;
    }

    .signUpLink,
    .signInLink {
        border-left: #1677ff 1px solid;
        border-right: #1677ff 1px solid;
        border-bottom: #1677ff 1px solid;
        border-radius: 0px 0px 10px 10px;
        width: fit-content;
        min-width: 180px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;

        button {
            margin-top: 10px;
            padding: 0px 30px;
        }
    }

    .login-form {
        max-width: 300px;
    }

    .login-form-forgot {
        float: right;
    }

    .ant-col-rtl .login-form-forgot {
        float: left;
    }

    .login-form-button {
        width: 100%;
    }
}