div.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .postAuthot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .userPosts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}