div.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 20px 0px 0px;
    }

    &>.postAuthor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .userPosts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .postContent {
            img {
                border: 1px solid #ddd;
            }
        }
    }
}