@import "./modules/home";
@import "./modules/photo";
@import "./modules/sign";
@import "./modules/post";
@import "./modules/navbar";
@import "./modules/createPost";
@import "./modules/themes";
@import "./modules/popular";
@import "./modules/profile";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#theme {
    min-height: 100vh;
    height: min-content;
}

#mainApp {
    margin: 0px 220px;
    padding: 10px;
}