@import "./modules/home";
@import "./modules/photo";
@import "./modules/sign";
@import "./modules/post";
@import "./modules/navbar";
@import "./modules/createPost";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    border: 1px solid red;
}

//https://css-tricks.com/moving-highlight/
//http://jsfiddle.net/trktqqh6/3/